.hero-container{
    position:relative;
    z-index:100;
}

.hero-text{
    position:relative;
    z-index:200;
}

.hero-backdrop{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-size: cover;
    background-position: center center;
    opacity: 0.5;
}

/* error page 404 */

.error-page{
    margin: 0 auto;
    width: 80%;
    font-family: Adobe Caslon,Georgia,Times New Roman,Times,serif;
    text-align: center;
    font-size: 12px;
}
.error-page > h2{
    font-size: 4em;
  
}
.ErrorPage__message{
   font-size: 20px;
   color: black;
}
.ErrorPage__message_link{
text-decoration: underline;
 
}

.img-link img{
    max-width: 80%;
    border-radius: 5%;
    
}
.button{
    margin-top: 3px;
    padding: 10px;
    
}